@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 32px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 48px;
}

h2 {
  letter-spacing: 0.025em;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.text--blue {
  color: #6415ff;
}

/* NAVIGATION BAR */

.nav--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo-title--link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo {
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
}

.nav__title {
  font-size: 24px;
  font-weight: 900;
  color: black;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  color: black;
  font-size: 14px;
  margin: 0 24px;
  font-weight: 600;
}

.nav__link--anchor-extra-space {
  margin: 0 24px 0 48px;
}

.nav__link--anchor-primary {
  margin: 0 24px 0 0;
  background-color: #6415ff;
  padding: 12px 32px;
  border-radius: 50px;
  color: white;
}

/* LANDING SECTION */

.landing--container {
  margin: 96px 0;
  display: flex;
}

.landing__left--container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
}

.landing__right--container {
  width: 60%;
}

.landing__left--para {
  font-size: 18px;
  line-height: 1.5;
  margin: 32px 0;
}

.landing__left__input--container {
  position: relative;
  display: inline-block;
  margin: 24px 0 72px 0;
  padding-right: 64px;
}

.landing__left__email-input {
  width: 100%;
  padding: 20px 192px 20px 32px;
  font-size: 16px;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 50px;
}

.landing__btn {
  position: absolute;
  width: 160px;
  right: 64px;
  top: -2px;
  border: none;
  background-color: #6415ff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 8px 8px 0;
  padding: 16px 0;
  border-radius: 50px;
  color: white;
}

.landing__left--para-2 {
  font-size: 12px;
  color: rgb(160, 160, 160);
  letter-spacing: 0.05em;
  font-weight: 700;
  margin: 0 0 24px 0;
}

.landing__left--img {
  width: 100%;
  max-width: 768px;
  padding-right: 128px;
  opacity: 0.6;
}

.landing__right--img {
  width: 100%;
}

/* FEATURES SECTION */

.features__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.features--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.features--title {
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}

.features--description {
  font-size: 48px;
  margin: 16px 0 24px 0;
  font-weight: 900;
}

.features--para {
  font-size: 18px;
  line-height: 1.5;
  color: rgb(124, 139, 161);
  text-align: center;
  width: 45%;
  min-width: 560px;
  margin-bottom: 48px;
  font-weight: 500;
}

.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  width: calc(100% / 3);
  margin: 48px 0;
  padding: 0 16px;
}

.service--img-border {
  width: 66px;
  height: 66px;
  border-radius: 9999px;
  border: 1px solid rgb(226, 232, 240);
  padding: 20px;
  text-align: center;
}

.service--img {
  vertical-align: middle;
}

.service--text--container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-top: 8px;
}

.service--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

.service--description {
  font-size: 16px;
  margin-top: 16px;
  line-height: 2;
  font-weight: 500;
  color: rgb(160, 160, 160);
}

/* QUALITY WORK SECTION */

.quality-work--container {
  display: flex;
  margin: 192px 0;
}

.quality-work__left--container,
.quality-work__right--container {
  width: 50%;
}

.quality-work__left--container {
  padding: 0 48px;
}

.quality-work__right--container {
  position: relative;
}

.quality-work--para {
  text-align: left;
  line-height: 1.625;
}

.features__link--anchor {
  font-weight: 700;
}

.quality-work--img {
  width: 100%;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 4px;
}

.quality-work--img-wrapper {
  position: absolute;
  z-index: 2;
}

.quality-work--dots {
  position: absolute;
  width: 80px;
  height: 80px;
  right: -40px;
  bottom: -80px;
  z-index: 1;
}

/* STEPS SECTION */

.steps--container {
  display: flex;
  padding: 96px 0;
}

.steps__left--container,
.steps__right--container {
  width: 50%;
}

.steps__left--container {
  padding: 40px 0;
  position: relative;
}

.steps__right--container {
  padding: 0 48px;
}

.steps--img-wrapper {
  position: absolute;
  z-index: 2;
}

.steps--img {
  width: 100%;
}

.steps--dots {
  width: 160px;
  height: 160px;
  opacity: 0.3;
  z-index: 1;
  position: absolute;
  bottom: -20px;
  right: 240px;
}

.steps__step--container {
  display: flex;
  margin: 32px 0 0 0;
}

.steps__step--number {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
  color: rgb(203, 213, 223);
}

.steps__step--description--container {
  margin: 0 0 0 24px;
}

.steps__step--title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.steps__step--para {
  margin: 12px 0 0 0;
  max-width: 20rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 2;
  color: rgb(113, 128, 150);
}

/* VALUES SECTION */

.values--container {
  display: flex;
  padding: 96px 0;
}

.values__left--container,
.values__right--container {
  width: 50%;
}

.values__right--container {
  padding: 64px 0;
}

.values__left--container {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}

.values__left__perks--container {
  display: flex;
  margin-bottom: 48px;
}

.values__left__perks__perk--container {
  width: 50%;
  padding: 0 32px 0 0;
}

.values__left__perks__perk--title--container {
  display: flex;
  align-items: center;
}

.values__left__perks__perk--icon-green {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: lightgreen;
  border-radius: 50%;
}

.values__left__perks__perk--icon-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: rgb(253, 149, 149);
  border-radius: 50%;
}

.values__left__perks__perk--title {
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.values__left__perks__perk--para {
  text-align: left;
  margin-top: 16px;
  line-height: 1.625;
  color: rgb(113, 128, 150);
}

.values__link--anchor {
  width: 160px;
  text-align: center;
}

.values--img {
  width: 100%;
}

/* PRICING SECTION */

.pricing--container {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing--para {
  text-align: center;
}

.pricing__plans--container {
  width: 100%;
  display: flex;
}

.pricing__plan--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: calc(100% / 3);
}

.pricing__plan--title--container,
.pricing__plan--descrption--container,
.pricing__plan--btn--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
  width: 100%;
  border: 1px solid rgb(226, 232, 240);
}

.pricing__plan--btn--container {
  border-radius: 0 0 8px 8px;
}

.pricing__plans--highlight {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 8px;
    border: 1px solid rgb(226, 232, 240);
}

.pricing__plans--highlight-blue {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 400%);
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 8px;
}

.pricing__plan--title-blue {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 200%);
  border: none;
  border-bottom: 1px solid rgb(102, 126, 234);
}

.pricing__plan--description-blue {
  background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
  border: none;
  border-bottom: 1px solid rgb(102, 126, 234);
  border-top: 1px solid rgb(102, 126, 234);
}

.pricing__plan--btn-blue {
  background: linear-gradient(135deg, rgb(89,103,212) 0%, rgb(102,126,234) 100%);
  border: none;
  border-top: 1px solid rgb(102, 126, 234);
}

.pricing__plans--highlight-green {
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  height: 8px;
}

.pricing__plans--highlight-red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  height: 8px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.plan-name,
.plan-price,
.plan-duration {
  padding: 8px 0;
}

.plan-name {
  font-size: 20px;
  font-weight: 700;
}

.plan-price {
  font-size: 48px;
  margin: 4px 0;
  font-weight: 700;
}

.plan-duration {
  font-weight: 700;
  color: rgb(160, 174, 192);
  letter-spacing: 0.1em;
}

.plan-client {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.plan-feature {
  margin-top: 20px;
  font-weight: 500;
  color: rgb(113, 128, 150);
}

.pricing__plan--btn--container {
  padding: 32px 80px;
}

.pricing__plan--btn-green {
  width: 100%;
  padding: 16px 32px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-style: none;
  border-radius: 9999px;
}

.pricing__plan--btn-red {
  width: 100%;
  padding: 16px 32px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  border-style: none;
  border-radius: 9999px;
}

.pricing__plan--btn-white {
  width: 100%;
  padding: 16px 32px;
  background: white;
  border-style: none;
  border-radius: 9999px;
}

.pricing--anchor {
  font-size: 14px;
  letter-spacing: 0.05em;
  font-weight: 700;
  color: white;
}

.pricing--anchor-blue {
  color: rgb(70,15,179);
}

.text-white {
  color: rgb(247,250,252);
}

.text-gray {
  color: rgb(226,232,240);
}

/* TESTIMONIAL SECTION */

.testmonials--containers {
  display: flex;
  padding: 96px 0;
}

.testimonials__left--container,
.testimonials__right--container {
  width: 50%;
}

.testimonials__right--container {
  display: flex;
  flex-direction: column;
  padding: 0 48px;
}

.testimonial-title {
  font-size: 20px;
  font-weight: 700;
}

.testimonial-para {
  margin-top: 16px;
  margin-bottom: 40px;
  font-weight: 500;
  line-height: 1.625;
  color: rgb(74,85,104);
}

/* @media (max-width:1024px) {
    .nav__link--anchor {
        display: none;
    }
} */
